@charset "utf-8";
.cell {
	background: #CCC0B3;
	width: 60px;
	height: 60px;
}
.cellnone {
	background: #BBADA0;
	width: 60px;
	height: 60px;
}
.wall {
	background: #BBADA0;
}
.wallnone {
	background: #000000;
}
.wallright {
	width: 20px;
	height: 60px;
}
.wallbottom {
	width: 60px;
	height: 20px;
}
.blockother {
	width: 20px;
	height: 20px;
}